body {
    font-family: Arial;
}
.centered {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.column {
    float: left;
}
.left {
    width: 60%;
}
.right {
    width: 40%;
}
circle {
    fill: blue
}

bar {
    fill: black
}
.tool-tip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font-size: 12px;
    font-weight: bold;
    background-color: #333;
    color: #fff;
    pointer-events: none;
  }